/* Variables */

:root {
    --navbar-height: 105px;
}

@media only screen and (max-width:322px) {
    :root {
        --navbar-height: 145px;
    }
}

/* More Customization */

::-webkit-scrollbar {
    display: none;
    width: 15px;
}
/* 
::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(175, 175, 175);
} */

/* Github Markdown Classes */

.markdown-body {
    background-color: black;
    height: 600px;
    overflow-y: scroll;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    border-radius: 5px;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.markdown-body:hover {
    box-shadow: 0 0 10px 2px white;
}

@media only screen and (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* Basic Element Configuration */

body {max-width: 100vw; background-color: black;}

h1, h2, h3 {
    font-family: 'Playfair Display SC', serif;
    margin: 0px 0px;
    color: white;
}

h4, h5, h6, p, li {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 0px 0px;
    color: white;
}

.navbar-brand {
    font-family: 'Playfair Display SC', serif;
    font-size: 2rem;
    color: white;
}

.nav-link {
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: auto 1.5em;
    color: white;
    transition: all 2s ease-in-out;
}

.navbar-brand:hover, .nav-link:hover {
    font-weight: 900;
    background-image: linear-gradient(270deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 29%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s ease-in-out alternate infinite;
}

@keyframes textclip {
    to {background-position: 100% center;}
}

/* Section IDs and Classes */

.navbar {
    background-color: black;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler {background-color: white;}
.navbar-hidden {transform: translateY(-90px);}

.progress-track {
    z-index: 1;
    position: fixed;
    background: linear-gradient(90deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 29%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%);
    width: 100%;
    height: 15px;
    top: calc(var(--navbar-height) - 15px);
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
}
.progress-bar {
    /* background: linear-gradient(
        90deg, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 63, 107, 1) 9%, 
        rgba(191, 131, 0, 1) 20%, 
        rgba(240, 207, 59, 1) 25%, 
        rgba(0, 198, 255, 1) 50%, 
        rgba(255, 248, 0, 1) 69%, 
        rgba(255, 19, 97, 1) 77%, 
        rgba(138, 67, 204, 1) 82%, 
        rgba(68, 16, 122, 1) 88%, 
        rgba(35, 21, 87, 1) 100%
    ); */
    width: 100%;
    height: 15px;
    transition: all 0.3s ease-in-out;
    background-color: black;
    border-top: white;
    float: right;
    transition: all 0.3s ease-in-out;
}
.raise-progress-bar {
    transform:translateY(-90px);
}

#intro, #about-me, #work, #projects, #skills, #hobbies, #contact {
    scroll-margin-top: calc(var(--navbar-height));
}

#intro {
    margin-top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
    text-align: center;
    background-color:black;
    padding-top: 12%;
    padding-bottom: 6%;
    position: relative;
}

.intro-name {
    font-size: 5rem;
    width: fit-content;
    padding: 0 1em 10px;
    margin: 0px auto 0px;
    /* background: linear-gradient(90deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 29%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%); */
    border: 2px solid white;
    border-radius: 5px;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='300' height='100' viewBox='0 0 300 100' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='300' height='100' stroke='slategray' stroke-linecap='round' stroke-width='20' stroke-dasharray='25' stroke-dashoffset='0' pathLength='100' fill='none'/%3E%3Cstyle%3E rect %7B animation: stroke 60s infinite linear; %7D @keyframes stroke %7B to %7B stroke-dashoffset: 100; %7D %7D %3C/style%3E%3C/svg%3E") 1;
}

.intro-desc-wrapper {
    display: inline-block;
    margin: 60px auto 0px;
    text-align: center;
    height: 2.1rem;
}

.intro-desc {
    font-size: 1.75rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0px auto 0px;
    color: whitesmoke;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid whitesmoke;
    letter-spacing: .15em;
}

@media only screen and (max-width: 991px) {
    .intro-name {
        border: none;
        border-image: none;
    }
    .intro-desc {
        white-space: inherit;
        animation: none;
        border: none;
    }
}


.intro-img {
    border-radius: 25%; 
    margin-top: 60px;
    animation: blob 20s ease infinite;
} 

/* Sections */

.section-header {
    text-align: center;
    margin: 2em auto;
}

#about-me {
    background-color: black;
    overflow: auto;
}

.about-me-header {margin-top: 2em;}
#about-me li {margin-top: 1em;}
.image-div {position: relative; min-height: 445px;}
@media only screen and (max-width: 991px) {
    .image-div {margin-top: 100px;}
}
.image-div img {
    
    position: absolute;
    border-radius: 10px;
    transition: all ease-out 0.3s;
}
.about-me-campus {
    max-width: 50%;
    top: 0px;
    left: 75px;
    transform: rotate(-10deg);
}
.about-me-pumpkin {
    max-height: 70%;
    top: 100px;
    left: 400px;
    transform: rotate(10deg);
    max-height: 70%
}
.about-me-georgia {
    max-width: 55%;
    max-height: 55%;
    top: 175px;
    left: 75px;
    transform: rotate(-5deg);
}
#about-me img:hover {
    transform: scale(1.2) rotate(0deg);
    z-index: 1;
}


#work {
    overflow: auto; /* Overflow prevents collapse but screws with scroll-margin-top... */
    background-color: black;
}
/* Should match with project paddings */
.lonely-padding {padding: 2em 4em 4em 4em;}

#projects {background-color: black; overflow: auto;}
.project-title {margin-bottom: 0.5em;}
.project-subtext {margin-bottom: 2em;}
.project-desc {margin-bottom: 2em; margin-right: 2em;}
.project-padding {padding: 2em 3em 4em 3em;}



.portfolio-img {width: 857px; height: 600px; border-radius: 5px;}
.carousel-control-prev, .carousel-control-next {width: 12%;}

.blubot-section {}

#agtern-carousel {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.agtern-img {
    max-height: 500px;
    max-width: 800px;
}
#agtern-carousel .carousel-inner {
    text-align: center;
    vertical-align: middle;
    height: 500px;
    width: 800px;
    overflow: hidden;
}

#skills {
    overflow:auto;
}

#hobbies {
    
}

#contact {
    background-color: black;
    min-height: calc(100vh - var(--navbar-height));
}

#resume {
    margin-top: 2em;
    height: 35vw;
    width: 30vw;
    display: block;
    resize: both;
}
@media only screen and (max-width: 991px) {
    #resume {
        width: 80vw;
        height: 100vw;
    }
}
#contact .resume-button {margin-top: 2em;}
#contact .resume-button::after {content: url(./images/download-icon.png)}
#contact .social-button {margin-top: 2em; margin-right: auto;}
.project-padding > .col-md-5 {
    text-align: center;
}

/* Cool Things */

@keyframes blob {  
    0% {border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;}
    14% {border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;}
    28% {border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;}
    42% {border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;}
    56% {border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;}
    70% {border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;}
    84% {border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;}
    100% {border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;}
}
@keyframes typing {
    0% {width: 0%;}
    100% {width: 100%;}
}
@keyframes untyping {
    0% {width: 100%;}
    100% {width: 0%;}
}
@keyframes blinking {
    0% {border-color: transparent;}
    50% {border-color: whitesmoke;}
    100% {border-color: transparent;}
}



.button-slide {
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 60px 15px 76px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.button-slide:hover {
    color: #fff;
    background-color: #000;
}
.button-slide::after {
    content: "〉";
    margin-left: 0px;
    opacity: 0;
    transition: all 0.2s ease;
}
.button-slide:hover::after {
    margin-left: 20px;
    opacity: 1;
}
.button-dark-mode {
    color: white;
    border: 1px solid #fff;
}
.button-dark-mode:hover {
    color: black;
    background: linear-gradient(135deg, rgba(253,142,213,1) 0%, rgba(33,191,254,1) 100%);
    border-color: black;
}
.social-icon-dark {
    position: absolute;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 13px;
    border-radius: 5px;
    border: 1px solid white;
    transition: all 0.2s ease;
}
.social-icon-dark:hover {
    box-shadow: 0px 0px 10px 2px white;
}
@media only screen and (max-width: 1100px) {
    .social-icon-dark {display:none;}
}
.linkedin-icon {
    left: 5em;
    top: 20em;
    background: linear-gradient(135deg, rgba(0, 64, 97, 1) 0%, rgba(0, 119, 181, 1) 50%, rgba(0, 168, 255, 1) 100%);
}
.github-icon {
    left: 5em;
    top: 25em;
    background: linear-gradient(135deg, rgba(0,0,0,1) 50%, rgba(57,211,83,1) 100%);
}
.email-icon {
    left: 5em;
    top: 30em;
    background: linear-gradient(135deg, rgba(227,65,51,1) 0%, rgba(243,182,4,1) 33%, rgba(50,163,80,1) 66%, rgba(64,129,236,1) 100%);
}
